{%- assign path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<figure>

  <picture>
    {% for i in site.imagemagick.widths -%}
      <source media="(max-width: {{ i }}px)" srcset="{{ path | relative_url }}-{{ i }}.webp" />
    {% endfor -%}

    <!-- Fallback to the original file -->
    <img class="img-fluid rounded {{% if include.class %}}{{ include.class }}{{% endif %}}" src="https://cdn.jsdelivr.net/gh/vancir/vancir.github.io/assets/img{{ include.path | relative_url }}" {% if include.alt %}alt="{{ include.alt }}"{% endif %} height="230" style="display:block;margin:0 auto;" {% if include.title %}title="{{ include.title }}"{% endif %} data-zoomable />

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
