---
layout: default
title: Blog
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 13
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">
  <article>

    <div class="news">
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% for post in paginator.posts %} 
          {% assign read_time = post.content | number_of_words | divided_by: 80 | plus: 1 %}

          <tr>
            <th scope="row">{{ post.date | date: "%b %-d, %Y" }}</th>
            <td>
              <a class="news-title" href="{{ post.url | prepend: site.baseurl  }}">{{ post.title }}</a>
            </td>

            <td>
              {{ read_time }} min read
            </td>

            {% if tags != "" %}
            <td>
              &nbsp; &nbsp;
              {% for tag in post.tags %}
                <a href="{{ tag | prepend: '/blog/tag/' | prepend: site.baseurl}}">
                <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
              {% endfor %}
            </td>
            {% endif %}

          </tr>
        {%- endfor %} 
        </table>
      </div>
    </div>

  </article>

  {% include pagination.html %}

</div>
